*{
    /* border:1px solid red; */
    text-align: center;
}

body {
    display: block;
    align-items: center;
    text-align: center;
}
.password {
    padding-inline: 20px;
}
.button {
    height: 30px;
    width: 300px;
    border-color: black;
    background-color: gold;
}

li {
    display: inline;
    flex-direction: row;
    justify-content: space-evenly;
    padding-inline: 20px;
}

footer {
    text-align: center;
}


